<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='base.css') }}">
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block ico %}{% endblock %}
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}

</head>
<body>
    <body>
        <div class="wrapper">
            <div class="maincontent">
                <!--
                <header class="header">
                    <div class="contaner container-header">
                        <div class="block__logo"><a href="home" style="float:left; margin-top:2px; margin-right:50px;"><img src="{{url_for('static', filename='logo.jpg')}}" style="width: 25%;"></a></div>
                        <div class="desktop__menu">
                            <nav class="nav">
                                <div class="menu__list">
                                    <div class="menu__item noSelect"><a href="home" class="menu__link">Главная</a></div>
                                    <div class="menu__item noSelect"><a href="telemetry" class="menu__link">Телеметрия</a></div>
                                    <div class="menu__item noSelect"><a href="control" class="menu__link">Управление</a></div>
                                    <div class="menu__item noSelect"><a href="schedule" class="menu__link">Расписание</a></div>
                                    <div class="menu__item noSelect"><a href="settings" class="menu__link">Настройки</a></div>
                                    <div class="menu__item noSelect"><a class="menu__link" onclick="updateFrame()">Проводник</a></div>
                                </div>
                            </nav>
                            <div class="btn__show-menu">Меню</div>
                        </div>
                
                    </div>
                    
                </header>
                -->

                <table class="resp-tab clockpage">
                    <thead>
                        <th class="clock"><h4>{{ name }}</h4></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="clock"><h5 id="clock">{{ time }}</h5></td>
                        </tr>
                        <tr>
                            <td class="clock"><h5 id="date">{{ date }}</h5></td>
                        </tr>
                    </tbody>
                </table>

                {% block content %}{% endblock %}
            </div>
        </div>
        
    </body>
</body>
</html>